<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelSuite" parallel="classes" thread-count="3">

    <test name="ClassTests">

        <classes>
            <class name="com.crm.orgTest.CreateOrganizationTest"/>
            <class name="com.crm.orgTest.createContactTest"/>
        </classes>
    </test>



</suite>